*.class

# Package Files #
*.jar
*.war
*.ear

*.*~

# weird annoying project files
profiles_settings.xml
RiskyBusiness.iml
RiskyBusinessProject.iml
profiles_settings.xml
gradle.xml
appcompat*.xml
support*.xml
